# Data Science -  Business Challenge
# Government Agency - Analysis of Consumer complaint from Financial Institution

In [1]:
import numpy as np

In [2]:
import pandas as pd
import qgrid


# Importing the csv file that houses the dataset
# see csv files in the folder

In [3]:
consumer = pd.read_csv(r'C:\Users\godwi\GitHub\Python-Pandas\Government Agency\P9-ConsumerComplaints.csv',\
low_memory=False)

In [4]:
consumer.sample(10) # selecting 10 rows to validate data

,Date Received,Product Name,Sub Product,Issue,Sub Issue,Consumer Complaint Narrative,Company Public Response,Company,State Name,Zip Code,Tags,Consumer Consent Provided,Submitted via,Date Sent to Company,Company Response to Consumer,Timely Response,Consumer Disputed,Complaint ID
33191,7/12/2014,Credit reporting,NaN,Incorrect information on credit report,Account status,NaN,NaN,"TransUnion Intermediate Holdings, Inc.",PR,674,NaN,NaN,Web,7/12/2014,Closed with explanation,Yes,NaN,934527
3079,9/12/2013,Bank account or service,Checking account,"Account opening, closing, or management",NaN,NaN,NaN,TD Bank US Holding Company,NY,11415,NaN,NaN,Referral,9/13/2013,Closed with monetary relief,Yes,No,525486
3454,9/9/2013,Mortgage,Conventional fixed mortgage,"Loan modification,collection,foreclosure",NaN,NaN,NaN,Bank of America,AZ,85225,NaN,NaN,Web,9/10/2013,Closed with non-monetary relief,Yes,No,519077
1889,8/5/2013,Mortgage,Other mortgage,Settlement process and costs,NaN,NaN,NaN,"SunTrust Banks, Inc.",FL,32250,NaN,NaN,Referral,8/7/2013,Closed with non-monetary relief,Yes,No,474158
26528,4/11/2014,Credit reporting,NaN,Incorrect information on credit report,Account status,NaN,NaN,Equifax,KY,40203,NaN,NaN,Referral,4/22/2014,Closed with explanation,Yes,No,804742
8280,10/25/2013,Credit reporting,NaN,Incorrect information on credit report,Account status,NaN,NaN,Experian,NY,11218,NaN,NaN,Web,10/29/2013,Closed with explanation,Yes,No,572440
303,7/31/2013,Mortgage,Other mortgage,"Loan modification,collection,foreclosure",NaN,NaN,NaN,JPMorgan Chase & Co.,CA,92656,NaN,NaN,Referral,8/5/2013,Closed with explanation,Yes,No,479594
38033,8/21/2014,Bank account or service,Other bank product/service,"Account opening, closing, or management",NaN,NaN,NaN,Wells Fargo & Company,CA,91615,NaN,NaN,Phone,8/26/2014,Closed with explanation,Yes,No,995406
5540,8/28/2013,Credit reporting,NaN,Incorrect information on credit report,Public record,NaN,NaN,Experian,GA,31419,Servicemember,NaN,Postal mail,12/4/2013,Closed with non-monetary relief,Yes,No,507711
11753,11/30/2013,Debt collection,"Other (i.e. phone, health club, etc.)",Cont'd attempts collect debt not owed,Debt is not mine,NaN,NaN,"EOS Holdings, Inc.",KY,41017,Older American,NaN,Web,11/30/2013,Closed with non-monetary relief,Yes,No,616528

# Understanding the data, type, shape

In [5]:
consumer.info(verbose= False)
# dataset is made up of integers, object types

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65499 entries, 0 to 65498
Columns: 18 entries, Date Received to Complaint ID
dtypes: int64(1), object(17)
memory usage: 9.0+ MB

In [6]:
consumer.shape   
# data has 65499 rows and 18 columns

(65499, 18)

# The Business -  Question 1 : 
# How many complaint were received and sent on same day

In [7]:
# Question 1 : # how many complaint were received and sent on same day
received_com_sameday = consumer.loc[:, ['Complaint ID','Date Received','Date Sent to Company']]

In [8]:
received_com_sameday[received_com_sameday['Date Sent to Company'] ==\
                     received_com_sameday['Date Received']].count()
# 2,8737 complaints were received and sent on same day

Complaint ID            28737
Date Received           28737
Date Sent to Company    28737
dtype: int64

# The Business -  Question 2 : 
# Extract the complaints received in the state of New York

In [9]:
# Quetion 2    : # Extract the complaints received in the state of New York
consumer.loc[:, ['Complaint ID','State Name']].head()

   Complaint ID State Name
0        468882         VA
1        468889         CA
2        468879         NY
3        468949         GA
4        475823         CT

In [10]:
# Qestion 2    : # Extract the complaints received in the state of New York
# step 1
complaints_NY =consumer.loc[:,['Complaint ID', 'Company','State Name','Date Received','Date Sent to Company'] ]

In [11]:
# Qestion 2    : # Extract the complaints received in the state of New York
# step 2
complaints_NY[complaints_NY['State Name'] == 'NY'].head(5)

,Complaint ID,Company,State Name,Date Received,Date Sent to Company
2,468879,Santander Bank US,NY,7/29/2013,7/31/2013
15,469057,JPMorgan Chase & Co.,NY,7/29/2013,7/31/2013
17,469070,JPMorgan Chase & Co.,NY,7/29/2013,7/30/2013
23,480173,Wells Fargo & Company,NY,7/29/2013,7/31/2013
24,469360,Ocwen,NY,7/29/2013,7/30/2013

# The Business -  Question 3 : 
# Extract the complaints received in the state of New York and California

In [12]:
# Qestion 3    : # Extract the complaints received in the state of New York amnd California
# step 2
complaints_NY[(complaints_NY['State Name'] == 'NY') | (complaints_NY['State Name'] == 'CA')]

,Complaint ID,Company,State Name,Date Received,Date Sent to Company
1,468889,Wells Fargo & Company,CA,7/29/2013,7/31/2013
2,468879,Santander Bank US,NY,7/29/2013,7/31/2013
11,469284,JPMorgan Chase & Co.,CA,7/29/2013,7/30/2013
12,480488,Citibank,CA,7/29/2013,7/31/2013
15,469057,JPMorgan Chase & Co.,NY,7/29/2013,7/31/2013
...,...,...,...,...,...
65483,1362371,Wells Fargo & Company,CA,5/6/2015,5/7/2015
65490,1385061,"PayPal Holdings, Inc.",CA,5/20/2015,5/20/2015
65492,1363172,Ocwen,CA,5/6/2015,5/7/2015
65495,1364367,Bank of America,CA,5/6/2015,5/7/2015
65497,1363039,"Afni, Inc.",CA,5/6/2015,5/7/2015

# The Business -  Question 4 : 
# Extract the rows with the word 'credit in product field'

In [13]:
# Question 4  Extract the rows with the word 'credit in product field'
consumer[consumer['Product Name'].str.contains('Credit',case= False)].head()

,Date Received,Product Name,Sub Product,Issue,Sub Issue,Consumer Complaint Narrative,Company Public Response,Company,State Name,Zip Code,Tags,Consumer Consent Provided,Submitted via,Date Sent to Company,Company Response to Consumer,Timely Response,Consumer Disputed,Complaint ID
8,7/29/2013,Credit card,NaN,Billing statement,NaN,NaN,NaN,Citibank,OH,45247,NaN,NaN,Referral,7/30/2013,Closed with explanation,Yes,Yes,469026
19,7/29/2013,Credit card,NaN,APR or interest rate,NaN,NaN,NaN,Synchrony Financial,WA,98548,NaN,NaN,Web,7/29/2013,Closed with monetary relief,Yes,No,469131
20,7/29/2013,Credit reporting,NaN,Credit monitoring or identity protection,Problem cancelling or closing account,NaN,NaN,Experian,CA,90034,NaN,NaN,Web,7/29/2013,Closed with monetary relief,Yes,No,474204
28,7/29/2013,Credit reporting,NaN,Incorrect information on credit report,Public record,NaN,NaN,Equifax,CA,91605,NaN,NaN,Web,7/29/2013,Closed with non-monetary relief,Yes,No,469201
37,7/29/2013,Credit card,NaN,Delinquent account,NaN,NaN,NaN,Amex,TX,78232,NaN,NaN,Web,7/29/2013,Closed with monetary relief,Yes,No,479990

# The Business -  Question 5 : 
# Extract the rows with the word 'late in issues field'

In [14]:
consumer[consumer['Issue'].str.contains('Late',case= False)].head()

,Date Received,Product Name,Sub Product,Issue,Sub Issue,Consumer Complaint Narrative,Company Public Response,Company,State Name,Zip Code,Tags,Consumer Consent Provided,Submitted via,Date Sent to Company,Company Response to Consumer,Timely Response,Consumer Disputed,Complaint ID
199,7/31/2013,Credit card,NaN,Late fee,NaN,NaN,NaN,JPMorgan Chase & Co.,IL,60201,NaN,NaN,Web,7/31/2013,Closed with monetary relief,Yes,No,471204
400,7/23/2013,Credit card,NaN,Late fee,NaN,NaN,NaN,Capital One,AR,72015,NaN,NaN,Web,7/23/2013,Closed with monetary relief,Yes,No,463829
477,8/7/2013,Credit card,NaN,Late fee,NaN,NaN,NaN,Citibank,CA,94523,NaN,NaN,Web,8/7/2013,Closed with monetary relief,Yes,No,488956
1010,8/14/2013,Credit card,NaN,Late fee,NaN,NaN,NaN,Citibank,TX,75024,NaN,NaN,Web,8/14/2013,Closed with monetary relief,Yes,No,492046
1313,8/14/2013,Credit card,NaN,Late fee,NaN,NaN,NaN,Bank of America,NY,10024,NaN,NaN,Web,8/20/2013,Closed with monetary relief,Yes,No,492446