# Nigerian Graduate Report 2018 by Stutern

In [1]:
import numpy as np
import pandas as pd
import datetime

In [2]:
nig_grad= pd.read_csv\
(r'C:\Users\godwi\OneDrive\Documents\Data Science\GitHub\Python-Pandas\Nigeria Graduate Report 2018\Nigerian Graduates Destination Survey.csv')
nig_grad.head()

,Timestamp,What is your gender,Year of graduation,Title of course studied,Polytechnic/University attended,What is your highest level of education?,What best describes your current status?,How many jobs have you had since graduation including your current one?,Have you completed your NYSC?,"If you answered yes/ongoing to the previous question, what year did you (or will you) complete your NYSC?",...,What currency are you currently paid in?,Approximately how many hours a day do you currently work?,"As far as you are aware, what was most important to your current employer about your qualification?",How do you find out about your job(s)?,"Thinking about your current employment, did you work for your employer before or during your higher education study?",Which form of transport do you use the most?,Were you able to rent an apartment or buy a car from the salary you got from your first job?,My course of study prepared me well for employment,My course of study prepared me well for further studies,Which of these skills/knowledge did your higher education prepare you for?
0,2/8/2018 9:05,Male,2013,Electrical & Electronic Engineering,"Obafemi Awolowo University,Ile-Ife",Bachelor's degree,Working full time (paid employment),3,NaN,NaN,...,Naira,8.0,No one thing was important,Internship,No,Bus,Yes: From my first job,No,No,"Critical thinking skills, Ability to solve com..."
1,2/15/2018 12:11,Male,2014,Psychology,"Obafemi Awolowo University,Ile-Ife",Bachelor's degree,Working full time (paid employment),2,Yes,2017.0,...,Naira,8.0,IT/SIWES/Internship experience (gained as part...,Internship,No,BRT,No: From my current job,Strongly Disagree,Agree,"Critical thinking skills, Ability to solve com..."
2,2/15/2018 13:47,Female,2013,Economics,"Bells University of Technology, Otta",Bachelor's degree,Working full time (paid employment),2,Yes,NaN,...,Naira,14.0,The subject(s) I studied,Employer's website,No,Uber/Taxify/Taxi services,No: From my current job,Disagree,Agree,"Ability to work with others, Written communica..."
3,2/16/2018 13:01,Male,2017,Mass Communication (Communication and Language...,"Bowen University, Iwo",Master's degree,Self-employed/freelance/entrepreneur,0,Yes,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2/16/2018 13:18,Female,2013,Statistics,Ekiti State University,Bachelor's degree,Working full time (paid employment),3,Yes,2016.0,...,Naira,8.0,IT/SIWES/Internship experience (gained as part...,"Personal contacts, including family and friends",No,Commercial Vehicles,No,Agree,Agree,Critical thinking skills

In [3]:
nig_grad.shape

(5219, 36)

In [4]:
nig_grad.info(verbose = False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5219 entries, 0 to 5218
Columns: 36 entries, Timestamp to Which of these skills/knowledge did your higher education prepare you for?
dtypes: float64(2), int64(2), object(32)
memory usage: 1.4+ MB

In [5]:
# find out the count of male vs female on the survey
nig_grad_gender = nig_grad['What is your gender'].value_counts().to_frame()
nig_grad_gender

                   What is your gender
Male                              2624
Female                            2592
Prefer not to say                    3

In [6]:
# what percentage of female is the sample
female_perc = nig_grad_gender.iloc[1,0] / ( nig_grad_gender.iloc[0,0] +\
        nig_grad_gender.iloc[1,0] + nig_grad_gender.iloc[2,0]) * 100
female_perc = round(female_perc,2)
female_perc = print(str(female_perc) + ' %')

49.66 %

In [7]:
# what percentage of male is the sample
male_perc = nig_grad_gender.iloc[0,0] / ( nig_grad_gender.iloc[0,0] +\
        nig_grad_gender.iloc[1,0] + nig_grad_gender.iloc[2,0]) * 100
male_perc = round(male_perc,2)
male_perc = print(str(male_perc) + ' %')

50.28 %

In [8]:
# which year had the largest graduates
nig_grad['Year of graduation'].value_counts().to_frame()\
.sort_values('Year of graduation', ascending = False)

      Year of graduation
2015                1327
2017                1259
2016                1214
2014                 824
2013                 595

In [9]:
# which school had the highest graduate
nig_grad['Polytechnic/University attended'].value_counts().to_frame()

                                                    Polytechnic/University attended
University of Lagos                                                             527
Covenant University Ota                                                         432
Obafemi Awolowo University,Ile-Ife                                              326
Babcock University,Ilishan-Remo                                                 213
University of Nigeria, Nsukka                                                   208
...                                                                             ...
Grace Polytechnic, Surulere, Lagos State.                                         1
Wellspring University, Evbuobanosa - Edo State                                    1
Ignatius Ajuru University of Education,Rumuolum...                                1
Heritage Polytechnic, Ikot Udota, Eket, Akwa Ib...                                1
Nasarawa State Polytechnic, Lafia, Nasarawa State.                                1

[158 rows x 1 columns]

In [10]:
# what is the highest level of degree by 
grad_degree = nig_grad.loc[:, ['What is your highest level of education?','What is your gender','Timestamp']].\
groupby(['What is your highest level of education?','What is your gender']).\
count().rename({'Timestamp' : 'count'},axis = 1)

In [27]:
grad_degree.unstack()

                                           count
What is your gender                       Female    Male Prefer not to say
What is your highest level of education?
Bachelor's degree                         2241.0  2158.0               3.0
Higher National Diploma (HND)              158.0   210.0               NaN
MBA degree                                  11.0     9.0               NaN
Master's degree                            115.0   191.0               NaN
Ordinary National Diploma (OND)             63.0    53.0               NaN
PhDs/Doctorate Degree                        4.0     3.0               NaN

In [21]:
# completed NYSC?
nig_grad.loc[:,['Have you completed your NYSC?','What is your gender']]\
.value_counts().to_frame().rename({0 : 'count'},axis = 1).unstack()

                                count
What is your gender            Female    Male Prefer not to say
Have you completed your NYSC?
No                              558.0   463.0               2.0
Ongoing                         415.0   362.0               NaN
Yes                            1619.0  1798.0               1.0

In [13]:
nig_grad[nig_grad.isna().values].drop_duplicates().head()

,Timestamp,What is your gender,Year of graduation,Title of course studied,Polytechnic/University attended,What is your highest level of education?,What best describes your current status?,How many jobs have you had since graduation including your current one?,Have you completed your NYSC?,"If you answered yes/ongoing to the previous question, what year did you (or will you) complete your NYSC?",...,What currency are you currently paid in?,Approximately how many hours a day do you currently work?,"As far as you are aware, what was most important to your current employer about your qualification?",How do you find out about your job(s)?,"Thinking about your current employment, did you work for your employer before or during your higher education study?",Which form of transport do you use the most?,Were you able to rent an apartment or buy a car from the salary you got from your first job?,My course of study prepared me well for employment,My course of study prepared me well for further studies,Which of these skills/knowledge did your higher education prepare you for?
0,2/8/2018 9:05,Male,2013,Electrical & Electronic Engineering,"Obafemi Awolowo University,Ile-Ife",Bachelor's degree,Working full time (paid employment),3,NaN,NaN,...,Naira,8.0,No one thing was important,Internship,No,Bus,Yes: From my first job,No,No,"Critical thinking skills, Ability to solve com..."
1,2/15/2018 12:11,Male,2014,Psychology,"Obafemi Awolowo University,Ile-Ife",Bachelor's degree,Working full time (paid employment),2,Yes,2017.0,...,Naira,8.0,IT/SIWES/Internship experience (gained as part...,Internship,No,BRT,No: From my current job,Strongly Disagree,Agree,"Critical thinking skills, Ability to solve com..."
2,2/15/2018 13:47,Female,2013,Economics,"Bells University of Technology, Otta",Bachelor's degree,Working full time (paid employment),2,Yes,NaN,...,Naira,14.0,The subject(s) I studied,Employer's website,No,Uber/Taxify/Taxi services,No: From my current job,Disagree,Agree,"Ability to work with others, Written communica..."
3,2/16/2018 13:01,Male,2017,Mass Communication (Communication and Language...,"Bowen University, Iwo",Master's degree,Self-employed/freelance/entrepreneur,0,Yes,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2/19/2018 8:40,Male,2015,Accountancy,"Obafemi Awolowo University,Ile-Ife",Bachelor's degree,Working full time (paid employment),1,Yes,2017.0,...,Naira,11.0,IT/SIWES/Internship experience (gained as part...,Internship,No,Commercial Vehicles,No,Agree,Agree,"Ability to solve complex problems, Knowledge o..."

In [14]:
from pandas_visual_analysis import VisualAnalysis